<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <div class="d-flex">
            <a href="/" class="navbar-brand text-light fw-bolder me-5">Facebook</a>
            <a href="/home" class="navbar-brand text-light fw-light">Home</a>
        </div>
         <div class="d-flex gap-2 align-items-center">
            <a href="/home/<%= user.id  %>/profile" class="navbar-brand text-light fw-light"> <%= user.Profile.username %></a>
            <a href="/user/register" class="btn btn-secondary">Log out</a>
         </div>
    </div>
  </nav>